---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import WorksList from "@/components/Works/List.astro";
import WorksTagFilter from "@/components/Works/TagFilter.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("works");
  const uniqueTags = [
    ...new Set(allPosts.map((works) => works.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((works) =>
      works.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

// const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base title="Works">
  <h2>タグ一覧</h2>
  <WorksTagFilter />

  <h2>記事リスト</h2>
  <WorksList {posts} />
</Base>
