---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";

const blog = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Base title="Me">
  <p>レイアウトに包まれたページのコンテンツ</p>
  <ul>
    {
      blog.map((blog) => (
        <li>
          <a href={`/blog/${blog.slug}/`}>
            <img width={720} height={360} src={blog.data.heroImage} alt="" />
            <h4 class="title">{blog.data.title}</h4>
            <p class="date" />
          </a>
        </li>
      ))
    }
  </ul>
</Base>
