---
import BlogList from "@/components/Blog/List.astro";
import BlogTagFilter from "@/components/Blog/TagFilter.astro";
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// TODO: Works SortはHTML側に書くと並び替えできる?
---

<Base title="Blog">
  <h2>タグ一覧</h2>
  <BlogTagFilter />

  <h2>記事リスト</h2>
  <BlogList {posts} />
</Base>
