---
import WorksList from "@/components/Works/List.astro";
import WorksTagFilter from "@/components/Works/TagFilter.astro";
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("works");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// TODO: Works SortはHTML側に書くと並び替えできる?
---

<Base title="WORKS">
  <h2>タグ一覧</h2>
  <WorksTagFilter />

  <h2>記事リスト</h2>
  <WorksList {posts} />
</Base>
