---
import BlogList from "@/components/Blog/List.astro";
import BlogTagFilter from "@/components/Blog/TagFilter.astro";
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  const uniqueTags = [
    ...new Set(allPosts.map((blog) => blog.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((blog) =>
      blog.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

// const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base title="Blog">
  <h2>タグ一覧</h2>
  <BlogTagFilter />

  <h2>記事リスト</h2>
  <BlogList {posts} />
</Base>
