---

---

<section data-swellStalker="hirata">
  <h2>平田 章</h2>
  <p>
    横浜で猫と暮らすデザイナー兼エンジニアです。料理・カラオケ・手品など、なにかを作ったり表現することが趣味。ゲーム・映画・マンガなども嗜みます。チームで協力して新しいモノを作ったり、企画したりするのが得意です。
  </p>
</section>

<section data-swellStalker="open">
  <h2>平田 章</h2>
  <p>
    横浜で猫と暮らすデザイナー兼エンジニアです。料理・カラオケ・手品など、なにかを作ったり表現することが趣味。ゲーム・映画・マンガなども嗜みます。チームで協力して新しいモノを作ったり、企画したりするのが得意です。
  </p>
</section>

<section data-swellStalker="open">
  <h2>平田 章</h2>
  <p>
    横浜で猫と暮らすデザイナー兼エンジニアです。料理・カラオケ・手品など、なにかを作ったり表現することが趣味。ゲーム・映画・マンガなども嗜みます。チームで協力して新しいモノを作ったり、企画したりするのが得意です。
  </p>
</section>

<section data-swellStalker="open">
  <h2>平田 章</h2>
  <p>
    横浜で猫と暮らすデザイナー兼エンジニアです。料理・カラオケ・手品など、なにかを作ったり表現することが趣味。ゲーム・映画・マンガなども嗜みます。チームで協力して新しいモノを作ったり、企画したりするのが得意です。
  </p>
  <dotlottie-player activeStateId="scroll" src="/lottie/skillmap.lottie"
  ></dotlottie-player>
</section>

<style lang="less">
  @import "@/styles/common.less";

  dotlottie-player {
    width: 100%;
    aspect-ratio: 4/3;
    background: #fff;
  }
</style>
