:root {
  --color-theme: 255, 204, 102;
  --color-base: 255, 255, 255;
  --color-main: 34, 51, 102;
  --color-caution: 204, 85, 85;
  @media (prefers-color-scheme: dark) {
    --color-theme: 238, 187, 102;
    --color-base: 42, 46, 54;
    --color-main: 255, 255, 255;
    --color-caution: 204, 85, 85;
  }
}
