---
import BlogList from "@/components/Home/BlogList.astro";
import Headline from "@/components/Home/Headline.astro";
import Hero from "@/components/Home/Hero.astro";
import MeBanner from "@/components/Home/MeBanner.astro";
import WorksList from "@/components/Home/WorksList.astro";
import Base from "@/layouts/Base.astro";
---

<Base>
  <Hero />

  <div class="l-content">
    <Headline href="/blog">BLOG</Headline>
    <BlogList />

    <Headline href="/works">WORKS</Headline>
    <WorksList />

    <Headline href="/me">ABOUT ME</Headline>
    <MeBanner />
  </div>
</Base>

<style lang="less">
  @import "@/styles/common.less";

  h2 {
    font-size: 2em;
    margin-top: 2rem;
  }
</style>
