---
import Headline from "@/components/ui/Headline.astro";
import Base from "@/layouts/Base.astro";
---

<Base title="PRICE">
  <div class="l-content">
    <Headline label="PRICE" />
    <p>レイアウトに包まれたページのコンテンツ</p>
  </div>
</Base>
