---
import SVG from "@/components/SVG.astro";
const { label, href } = Astro.props;
---

<h2 transition:name={"hedline-" + label}>
  <a {href}>
    <span>
      {label}
    </span>

    <small>
      more
      <SVG symbol="next" />
    </small>
  </a>
</h2>

<style lang="less">
  @import "@/styles/common.less";

  h2 {
    position: relative; // for z-index
    margin-top: 32px;
    color: rgb(@label);
    &::first-letter {
      font-size: 1.2em;
    }
  }

  span {
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.05em;
    &::after {
      content: ".";
      color: rgb(@theme);
      font-size: 1.4em;
    }
  }

  a small {
    font-size: 0.8em;
    margin-left: 0.4em;
    font-variation-settings: "wght" 500;
    color: rgb(@main);
    opacity: 0.6;
    transition: @transition;
    vertical-align: bottom;
    :global(svg) {
      margin: 0 -0.3em;
      fill: currentColor;
      width: 1em;
      height: 1em;
      vertical-align: middle;
    }
  }
  :is(a:hover, a:active) small {
    opacity: 1;
    color: rgba(@main, 0.9);
    font-variation-settings: "wght" 700;
  }
</style>
