---
import SVG from "@/components/SVG.astro";
---

<section class="hero">
  <h1>
    <SVG symbol="logo" alt="WEBA" />
    <p>Blog & Portfolio.</p>
  </h1>
</section>

<style>
  .hero {
    text-align: center;
    padding: 48px;
    background: #00000033;
  }
</style>
