---
import NavContactDialog from "@/components/NavContactDialog.astro";

const currentPath = Astro.url.pathname.split("/")[1];
const pageList = ["blog", "me", "works"];
---

<nav>
  <h1><a href="/">WEBA</a></h1>

  <ul>
    {
      pageList.map((path) => (
        <li>
          {path == currentPath ? (
            <span transition:name="NavCursor">></span>
          ) : (
            ""
          )}
          <a class={path == currentPath ? "active" : ""} href={"/" + path}>
            {path.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ul>

  <button id="js-contactBtn" transition:persist>Contact</button>
  <NavContactDialog />
</nav>

<script>
  document.addEventListener(
    "astro:page-load",
    () => {
      // この指定をしないとページ遷移後にイベントが発火しない

      const button = document.getElementById("js-contactBtn");
      const closeButton = document.getElementById("js-closeContactBtn");
      const dialog = document.getElementById("js-contactDialog");

      button?.addEventListener("click", () => {
        dialog?.showModal();
        console.log("show");
      });

      closeButton?.addEventListener("click", () => {
        dialog?.close();
      });

      dialog?.addEventListener("click", (event) => {
        if (event.target == dialog) {
          dialog.close();
        }
      });
    },
    { once: false },
  );
</script>

<style></style>
