---
const currentPath = Astro.url.pathname.split("/")[1];
const pageList = ["blog", "me", "works", "price"];
---

<nav class="l-nav">
  <h1><a href="/">WEBA</a></h1>

  <ul>
    {
      pageList.map((path) => (
        <li>
          {path == currentPath ? (
            <span transition:name="NavCursor">></span>
          ) : (
            ""
          )}

          <a
            class={path == currentPath ? "active" : ""}
            href={"/" + path}
            data-lottie-container
          >
            <dotlottie-player loop="false" src={`/lottie/${path}.lottie`} />
            {path.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ul>

  <a href="/contact" data-lottie-container>
    <dotlottie-player src="/lottie/contact.lottie"></dotlottie-player>
     Contact
  </a>
</nav>

<script>
  import "@dotlottie/player-component";

  document.addEventListener(
    "astro:page-load",
    () => {
      const menuItems = document.querySelectorAll("[data-lottie-container]");

      menuItems?.forEach((menuItem) => {
        const LottieItem = menuItem.querySelector("dotlottie-player");
        if (!LottieItem) return;

        menuItem.addEventListener("mouseenter", () => {
          LottieItem.setDirection(1);
          LottieItem.play();
        });

        menuItem.addEventListener("mouseleave", () => {
          LottieItem.setDirection(-1);
          LottieItem.play();
        });
      });
    },
    { once: false },
  );
</script>

<style>
  a {
    display: inline-flex;
  }
  dotlottie-player {
    width: 24px;
  }
</style>
