---
const FormId = import.meta.env.PUBLIC_FORMCARRY_ENDPOINT;
---

<dialog id="js-contactDialog">
  <button id="js-closeContactBtn">XXXX</button>

  <h2>CONTACT</h2>

  <form
    method="dialog"
    action={`https://formcarry.com/s/${FormId}`}
    method="POST"
    novalidate
  >
    <label>
      <p>返信用メールアドレス</p>
      <input
        id="js-email"
        type="email"
        name="email"
        placeholder="hoge@mail.com"
        required
        autofocus
      />
      <p id="emailValidationMessage" style="color: red;"></p>
    </label>

    <label>
      <p>お問い合わせ内容</p>
      <textarea
        id="js-message"
        placeholder="お問い合わせ内容"
        rows="6"
        required
        minlength="10"
        maxlength="400"></textarea>
      <p id="messageValidationMessage" style="color: red;"></p>
    </label>

    <button id="js-submit" type="submit" disabled>送信</button>
  </form>
</dialog>

<script>
  document.addEventListener(
    "astro:page-load",
    () => {
      const emailInput = document.getElementById("js-email");
      const emailValidationMessage = document.getElementById(
        "emailValidationMessage",
      );
      const messageInput = document.getElementById("js-message");
      const messageValidationMessage = document.getElementById(
        "messageValidationMessage",
      );
      const submitButton = document.getElementById("js-submit");

      if (
        !emailInput ||
        !emailValidationMessage ||
        !messageInput ||
        !messageValidationMessage ||
        !submitButton
      ) {
        return;
      }

      emailInput.addEventListener("blur", validateEmail);
      messageInput.addEventListener("blur", validateMessage);

      // HTML要素を2つわったす関数に共通化したい
      function validateEmail() {
        if (!emailInput.checkValidity()) {
          emailValidationMessage.textContent =
            "正しい形式のEmailを入力してください。";
        } else {
          emailValidationMessage.textContent = "";
        }
        checkFormValidity();
      }

      function validateMessage() {
        if (!messageInput.checkValidity()) {
          messageValidationMessage.textContent =
            "10文字以上、400文字以下のお問い合わせ内容を入力してください。";
        } else {
          messageValidationMessage.textContent = "";
        }
        checkFormValidity();
      }

      function checkFormValidity() {
        if (emailInput.checkValidity() && messageInput.checkValidity()) {
          submitButton.removeAttribute("disabled");
        } else {
          submitButton.setAttribute("disabled", "");
        }
      }

      // 送信ボタンを押す前の処理が必須。Valid後→間違った情報を入力してそのまま送信できちゃう
    },
    { once: false },
  );
</script>

<style>
  dialog {
    margin: auto;
    padding: 24px;
    border: 0;
    border-radius: 0.6rem;
    box-shadow: 0 0 1em black;
    /* overscroll-behavior: contain; */
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    /* border: 2px dashed yellow; */
  }

  button:disabled {
    opacity: 0.2;
  }
</style>
