---
import type { CollectionEntry } from "astro:content";
const { frontmatter } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/me">Me</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate}</p>

    <main>
      <slot />
    </main>
  </body>
</html>
