---
const { label } = Astro.props;
---

<h1 transition:name={"hedline-" + label}>{label}</h1>

<style lang="less">
  @import "@/styles/common.less";

  h1 {
    margin-block: 40px 32px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.05em;
    color: rgb(@label);
    @media (width < @xl) {
      margin-block: 56px 24px;
    }
    @media (width < @lg) {
      margin-block: 48px 16px;
    }
    @media (width < @sm) {
      margin-block: 16px 8px;
    }

    &::first-letter {
      font-size: 1.2em;
      vertical-align: -0.02em;
    }
    &::after {
      content: ".";
      color: rgb(@theme);
      font-size: 1.4em;
    }
  }
</style>
